<h1>MVC struktura - homepage</h1>
<h2>wow</h2>
<p>tohle je úvodní stránka <br/>
<strong>cesta: DefaultController -> index (template: homepage.phtml</strong>

<h2><a href="Calculator">Calculator Controller</a></h2>
</p>
